//GOBAL
.dashboard {
  width: 80%;
  background: bg("white4");
  h1 {
    @include text(text("blue"), fs("h1"), fw("fwLight"));
    margin: spacing(2);
  }
  .dashboard__manage {
    width: 90%;
    margin-left: 5%;
    background: bg("primary");
    .dashboard__manage--list {
      display: flex;
      height: 100%;

      .dashboard__manage--item {
        width: 33.33%;
        text-decoration: none;

        .dashboard__item--content {
          padding: spacing(3);
          text-align: center;
          i {
            @include text(text("blue"), fs("h1"), fw("fwLight"));
          }
          p {
            @include text(text("primary"), fs("h2"), fw("fwLight"));
          }
          span {
            @include text(text("gray1"), fs("h4"), fw("fwLight"));
          }
        }
      }
      .lineR {
        border-right: 3px solid bg("white4");
      }
    }
  }
  .manager__pagination {
    // position: fixed;
    // bottom: 2%;
    // right: 5%;
    margin: spacing(4);
    float: right;
  }
}

//User
.manageruser {
  .manageruser__action {
    display: flex;
    width: 90%;
    margin-left: 5%;
    .manageruser__action--item {
      width: 45%;
    }
  }
  .manageruser__table {
    margin-top: 1%;
  }
}

//Film
.managerfilm {
  .managerfilm__action {
    display: flex;
    width: 90%;
    margin-left: 5%;
    .managerfilm__action--item {
      width: 45%;
    }
  }
  .managerfilm__table {
    margin-top: 1%;
  }
}

//Cinema
.managercinema {
  .managercinema__table {
    margin: 2%;
    width: 100%;
    .cinemaInfo {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 1%;
    }
  }
}
.manageCinema__discrible {
  position: relative;
  cursor: pointer;
  .manageCinema__discrible__full {
    box-shadow: 0 0 10px #444;
    width: 200%;
    z-index: 10;
    padding: spacing(1);
    position: absolute;
    left: 50%;
    top: 5%;
    display: none;
    background-color: bg("primary");
    p {
      @include text(text("primary"), fs("subtext1"), fw("fwLight"));
    }
  }
  &:hover .manageCinema__discrible__full {
    display: inline-block;
  }
}

// .manageCinema__img {
//   position: relative;
//   cursor: pointer;
//   .manageCinema__img__full {
//     box-shadow: 0 0 10px #444;
//     width: 130%;
//     z-index: 10;
//     padding: spacing(1);
//     position: absolute;
//     left: 40%;
//     top: 0%;
//     display: none;
//     background-color: bg("primary");
//     img {
//       width: 100%;
//     }
//   }
//   &:hover .manageCinema__img__full {
//     display: inline-block;
//   }
// }
