.menu__mobile {
  @include size(250px, 100%);
  .menu__mobile--branch {
    img {
      @include size(90px, 40px);
    }
  }
  .menu__mobile--item {
    margin-top: spacing(1);
    ul {
      padding: spacing(0, 0.5);
      li {
        list-style: none;
        margin: spacing(3, 0);
        a {
          text-decoration: none;
          cursor: pointer;
          @include text(text("secondary"), fs("h4"), fw("fwMedium"));
        }
      }
    }
  }
}
